@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <h2>To search by</h2>
  <button><a href='/city/show'>city</a></button>
  <button><a href='/country/show'>country</a></button>
</div>
